root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,yml,yaml}]
indent_size = 2

[*.{csproj,props,targets,slnx}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{received,verified}.{json,txt,xml}]
charset = utf-8-bom
indent_size = unset
indent_style = unset
insert_final_newline = false
trim_trailing_whitespace = false

[*.cs]
file_header_template = Copyright (c) SharpVision contributors. All rights reserved.\nLicensed under the MIT License. See LICENSE in the project root for license information.
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.CS1591.severity = error
dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0010.severity = error
dotnet_diagnostic.IDE0040.severity = error
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.IDE0052.severity = error
dotnet_diagnostic.IDE0055.severity = error
dotnet_diagnostic.IDE0065.severity = error
dotnet_diagnostic.IDE0072.severity = error
dotnet_diagnostic.IDE0076.severity = error
dotnet_diagnostic.IDE0077.severity = error
dotnet_diagnostic.IDE0080.severity = error
dotnet_diagnostic.IDE0130.severity = error
dotnet_diagnostic.IDE0150.severity = error
dotnet_diagnostic.IDE0240.severity = error
dotnet_diagnostic.IDE0241.severity = error
dotnet_diagnostic.IDE0280.severity = error
dotnet_diagnostic.IDE1006.severity = error

dotnet_code_quality_unused_parameters = all:error
dotnet_remove_unnecessary_suppression_exclusions = none
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
dotnet_style_coalesce_expression = true
dotnet_style_collection_initializer = true
dotnet_style_explicit_tuple_names = true
dotnet_style_namespace_match_folder = true:error
dotnet_style_null_propagation = true
dotnet_style_object_initializer = true
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true
dotnet_style_prefer_auto_properties = true
dotnet_style_prefer_collection_expression = true
dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_conditional_expression_over_assignment = true
dotnet_style_prefer_conditional_expression_over_return = true
dotnet_style_prefer_extended_property_pattern = true
dotnet_style_prefer_inferred_anonymous_type_member_names = true
dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_is_null_check_over_reference_equality_method = true
dotnet_style_prefer_simplified_boolean_expressions = true
dotnet_style_prefer_simplified_interpolation = true
dotnet_style_qualification_for_event = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_property = false
dotnet_style_readonly_field = true
dotnet_style_require_accessibility_modifiers = always

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = flush_left
csharp_indent_switch_labels = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_prefer_braces = true
csharp_prefer_simple_default_expression = true
csharp_prefer_static_anonymous_function = true
csharp_prefer_static_local_function = true
csharp_prefer_system_threading_lock = true:error
csharp_space_after_cast = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = false
csharp_space_before_comma = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_style_conditional_delegate_call = true
csharp_style_deconstructed_variable_declaration = true
csharp_style_expression_bodied_accessors = when_on_single_line
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_indexers = when_on_single_line
csharp_style_expression_bodied_lambdas = when_on_single_line
csharp_style_expression_bodied_local_functions = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_style_expression_bodied_properties = when_on_single_line
csharp_style_implicit_object_creation_when_type_is_apparent = false:error
csharp_style_inlined_variable_declaration = true
csharp_style_namespace_declarations = file_scoped:error
csharp_style_pattern_matching_over_as_with_null_check = true
csharp_style_pattern_matching_over_is_with_cast_check = true
csharp_style_prefer_extended_property_pattern = true
csharp_style_prefer_implicitly_typed_lambda_expression = true
csharp_style_prefer_index_operator = true
csharp_style_prefer_local_over_anonymous_function = true
csharp_style_prefer_method_group_conversion = true
csharp_style_prefer_not_pattern = true
csharp_style_prefer_pattern_matching = true
csharp_style_prefer_primary_constructors = false
csharp_style_prefer_range_operator = true
csharp_style_prefer_readonly_struct = true:error
csharp_style_prefer_readonly_struct_member = true:error
csharp_style_prefer_switch_expression = true
csharp_style_prefer_top_level_statements = true:error
csharp_style_prefer_tuple_swap = true
csharp_style_prefer_unbound_generic_type_in_nameof = true:error
csharp_style_prefer_utf8_string_literals = true:error
csharp_style_throw_expression = true
csharp_style_unused_value_assignment_preference = discard_variable
csharp_style_unused_value_expression_statement_preference = discard_variable
csharp_using_directive_placement = inside_namespace:error

[*.cs]
csharp_style_var_elsewhere = true:error
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error

csharp_preferred_modifier_order = public,private,protected,internal,file,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,required,volatile,async

dotnet_naming_style.default.capitalization = pascal_case
dotnet_naming_style.private_fields.capitalization = camel_case
dotnet_naming_style.private_fields.required_prefix = _
dotnet_naming_style.type_parameters.capitalization = pascal_case
dotnet_naming_style.type_parameters.required_prefix = T
dotnet_naming_style.interfaces.capitalization = pascal_case
dotnet_naming_style.interfaces.required_prefix = I
dotnet_naming_style.async.capitalization = pascal_case
dotnet_naming_style.async.required_suffix = Async

dotnet_naming_symbols.default.applicable_accessibilities = public,internal,private,protected,protected_internal
dotnet_naming_symbols.default.applicable_kinds = namespace,class,struct,enum,property,method,event,delegate
dotnet_naming_symbols.private_fields.applicable_accessibilities = private,private_protected
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.type_parameters.applicable_accessibilities = *
dotnet_naming_symbols.type_parameters.applicable_kinds = type_parameter
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.async.applicable_accessibilities = *
dotnet_naming_symbols.async.applicable_kinds = method,delegate
dotnet_naming_symbols.async.required_modifiers = async

dotnet_naming_rule.default.severity = error
dotnet_naming_rule.default.style = default
dotnet_naming_rule.default.symbols = default
dotnet_naming_rule.private_fields.severity = error
dotnet_naming_rule.private_fields.style = private_fields
dotnet_naming_rule.private_fields.symbols = private_fields
dotnet_naming_rule.type_parameters.severity = error
dotnet_naming_rule.type_parameters.style = type_parameters
dotnet_naming_rule.type_parameters.symbols = type_parameters
dotnet_naming_rule.interfaces.severity = error
dotnet_naming_rule.interfaces.style = interfaces
dotnet_naming_rule.interfaces.symbols = interfaces
dotnet_naming_rule.async.severity = error
dotnet_naming_rule.async.style = async
dotnet_naming_rule.async.symbols = async

[src/**/*.cs]
dotnet_diagnostic.CA1062.severity = error

[**/GlobalUsings.cs]
dotnet_diagnostic.IDE0005.severity = none
